*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4e4ba;

}
.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height:30vh;
    width: 40vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form select,input,button{
    width: 100%;
   border: none;
   border-radius: 0.5rem;
   outline: none;

}
/* form select{
    
   border: none;
   border-radius: 0.5rem;
   outline: none;
  

} */
form input{
    border: 1px solid gray;
    height: 2rem;
    padding-left: 1rem;

}
.dropdown{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.select-container img{
    width: 1.5rem;

}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 0.5rem;
    width: 6rem;
    

}
.select-container img{
    padding-left:0.5rem;
}
.msg{
    margin:2rem 0 2rem 0;
}
form button{
    height: 2rem;
    background-color: #af4d98;
    color: white;
    font-size: 1rem;
}